:root {
  --bg-main: hsl(0, 0%, 5%);
  --bg-sidebar: hsl(0, 0%, 9%);
  --bg-hover: hsl(0, 0%, 27%);
  --text-primary: hsl(0, 0%, 90%);
  --text-secondary: hsl(0, 0%, 60%);
  --shadow-accent: 0 5px 1em hsl(212, 84%, 61%);
  --text-glow: 0 0 2em hsl(0, 0%, 100%);

  --sidebar-width: 300px;
  --font-main: "Quicksand", sans-serif;

  --transition-speed: 0.1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background-color: var(--bg-main);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-sidebar);
  color: var(--text-primary);
  box-shadow: var(--shadow-accent);
  flex-shrink: 0;
}

.nav-branding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  color: var(--text-primary);
  font-weight: 900;
  text-shadow: var(--text-glow);
}

.nav-linkuri {
  display: flex;
  flex-direction: column;
}

.nav-linkuri a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: var(--text-secondary);
  margin: 5px 15px;
  border-radius: 0.5em;
  list-style: none;
  padding: 20px;
  transition: var(--transition-speed);
}

.nav-linkuri a:hover {
  color: var(--text-primary);
  background-color: var(--bg-hover);
}

#continut {
  flex: 1;
  color: var(--text-primary);
  background-color: var(--bg-main);
  padding: 30px;
  overflow-y: auto;
}
